@media(max-width:650px){
    ul{
        display: none;
    }
    img{
        
    }
}
.fa bars{
    display: block;
}
.landing-page {
    height: 100vh;
    background-image: url(../img/cover4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}